<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Peab vaatama</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

</head>
<body>
<div class="pure-menu pure-menu-horizontal"><a class="pure-menu-heading pure-menu-link" href="#">Projekt Peabvaatama</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Turniirid &hearts;</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Mängud ♞</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Statistika</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/contact">Võta meiega ühendust ☏</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Loo endale konto</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/product">Osta endale telefon</a></li>
    </ul>
</div>

<h2 style="color: #2E630A;">Lihtne v&otilde;imalus <span style="color: #7773ff;">registreeruda</span> turniirile!</h2>

</body>
</html>
